.login-form
{
    margin: 0 auto;
    margin-top: 100px;
    height: 520px;
}
.login-btn-color
{
    background-color: #000 !important;
}
.signup-btn-color
{
    background-color: #000 !important;
}
.link-color{
    color:blue;
    text-decoration-line: underline;
    font-size: 15px;

}
.nmy
{
    color:#000;
    font-size: 15px;
}

.logo-text a h1 {
    font-weight: bold !important;
    font-size: 35px !important;
}